[submodule "CompSci1"]
	path = CompSci1
	url = https://github.com/yiandou/CompSci1
[submodule "githubpractice"]
	path = githubpractice
	url = https://github.com/yiandou/githubpractice
[submodule "APCompSciCreateTask"]
	path = APCompSciCreateTask
	url = https://github.com/yiandou/APCompSciCreateTask
